/*8 Colours **/
$pink: #fc4176;
$dark-grey: #333333;
$light-grey: #A2988A;
$light-grey-b: #f2f2f2;
$pale-red: #FF4C4C;
$grey: #f8f8f8;
$rock-grey: #777;
$lime-green: #79b103;
$sun-yellow: #ffd40a;
$white: #ffffff;

$red: hsla(360, 100%, 50%, 1);
$green: hsla(120, 100%, 50%, 1);
$blue: hsla(240, 100%, 50%, 1);
$black: hsla(0, 0%, 0%, 1);
$yellow: hsla(60, 100%, 50%, 1);
$white: hsla(0, 100%, 100%, 1);
$orange: hsla(39, 100%, 50%, 1);
$light-blue: hsla(180, 100%, 50%, 1);
$pink: hsla(320, 100%, 50%, 1);
$purple: hsla(288, 64%, 50%, 1);

$canvas-size: 600px;

/** Fonts **/
$font-family-1: 'Montserrat', sans-serif;
$font-family-2: 'Open Sans', sans-serif;
$font-family-3: 'Raleway', sans-serif;
