/*8 Colours **/
$pink: #fc4176;
$dark-grey: #333333;
$light-grey: #A2988A;
$light-grey-b: #f2f2f2;
$pale-red: #FF4C4C;
$grey: #f8f8f8;
$rock-grey: #777;
$lime-green: #79b103;
$sun-yellow: #ffd40a;
$white: #ffffff;

$canvas-size: 600px;

/** Fonts **/
$font-family-1: 'Montserrat', sans-serif;
$font-family-2: 'Open Sans', sans-serif;
$font-family-3: 'Raleway', sans-serif;
